<div class="xp-sidebar">


    <div class="xp-logobar text-center">
        <img src="assets\aa.png" alt="">
    </div>

    <div class="xp-navigationbar">
        <ul class="xp-vertical-menu">
            <li class="xp-vertical-header">Menu</li>
            <li id="dashboard-li">
                <a ui-sref="bater-ponto">
                    <i class="icon-speedometer"></i><span>Registrar Ponto</span>
                </a>
            </li>

            <li id="empresa-li">
                <a ui-sref="perfil-usuario">
                    <i class="icon-user"></i><span>Perfil do Usuário</span>
                </a>
            </li>
         

        </ul>
    </div>
</div>